
\.idea/

MedievalIO\.Core/obj/

MedievalIO\.Map\.Engine/obj/

MedievalIO\.Engine/obj/

MedievalIO\.Engine\.Test/obj/

MedievalIO\.Map\.Engine\.Test/obj/

MedievalIO\.Battle\.Engine\.Test/obj/

MedievalIO\.Battle\.Engine/obj/

MedievalIO\.Domain\.Test/obj/

MedievalIO\.Units\.Engine/obj/

MedievalIO\.Units\.Engine\.Test/obj/

MedievalIO\.Domain/obj/
